/* 
    Created on : May 23, 2015, 10:13:57 AM
    Author     : mattras
*/
html, body {
    margin: 0;
    height: 100%;
    //min-width: 950px;
    overflow-x: scroll;
    //background-color: #79A3A3;
    background-color: #cccccc;
}
.container {
    height: 100%;
    width: 100%;
    display: table;
}
.head {
    width: 100%;
    height: 4em;
    display: table-row;
    background-color: #79A3A3;
    top: 0;
}
header {
    width: 100%;
    border-bottom: 2px solid #000000;
}
.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    border: 3px solid #468282;
    border-radius: 10px;
    min-width: 85%;
    max-width: 1200px;
    background-color: white;
    display: table;
}
p {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    //color: #002E2E;
    color: #333;
}
img {
    max-width: 500px;
    width: 65%;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hide {
    display: none;
}
span {
    font-size: 1.25em;
}
label {
    color: red;
    font-weight: bold;
}
table {
    width: 85%;
    max-width: 550px;
    border-collapse: collapse;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 1px #888888;
    font-family: Georgia, "Times New Roman", Times, serif;
}
tr:nth-child(even) {
    background-color: #cccccc;
}
table, td {
    border: 1px solid #1B1B1B;
}

